body {
  background-color: #3c329a;
  color: #1e194d;
  padding: 0%;
  margin: 0%;
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 10rem;
  letter-spacing: 2.5rem;
  padding: 0;
  margin: 0;
}

.clock {
  width: fit-content;
  margin-inline: auto;
  padding: 2rem 4rem;
  background-color: #6758f6;
  color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.clock p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: 700;
}

p span {
  font-size: 3rem;
}
